body{
    background-color: #74f9ff;
}

#brand-logo-image{
    height: 15%;
    width: 15%;
    margin:0%;
}

#brand-logo-content{
    display: inline-block;
}

.nav-color{
    background-color: #00e0ff;
}

.Intro-div{
   background-image: url("../Images/carousel-image1.jpg");
   width: 100%;
   height: 70vh;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.awards-div{
    margin: 4px 1px;
    /* border: 1px solid black; */
}

.awards-col{
    /* border: 1px solid black; */
    text-align: center;
    padding: 6% 4px;
    background-color: #ff7a00;
}

#middle-award-col{
    background-color: #ffe227;
}
.awards-col p{
    font-weight: 8%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;
}

hr{
    margin:150px auto;
    border-top: 10px dotted grey;
    width: 100px;
    
}

.login-signup-div{
    text-align: center;
}

.login-signup-div h1{
    color: rgb(66, 64, 64);
    margin-bottom: 60px;
}

.login-signup-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

.loginsignup{
    width: 25rem;
    padding: 50px 35px;
    border: 2px black solid;
    border-radius: 3%;
    box-shadow: 5px 10px #aaaaaa; 
    margin-bottom: 30px;
    background-color: #ffe227;
    
}

.login-signup-button a{
    margin: 5px;
}




.footer-class{
    width: 100%;
    height: 20vh;
    background-color: rgb(230, 213, 213);
    margin-top: 5rem;
}

.footer-class p{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.footer-icon1{
    margin-top: 1%;
    margin-left: 43%;
}

.footer-icon2{
    margin-top: 1%;
    margin-left: 2%;
}

.footer-icon3{
    margin-top: 1%;
    margin-left: 2%;
}
.footer-icon1:hover{
    height: 24%;
}


.footer-icon2:hover{
    height: 24%;
}

.footer-icon3:hover{
    height: 24%;
}


.contact-us-div h1{
    color: grey;
    text-align: center;
    margin-bottom: 8%;
}

.write-us-div h2{
    color: grey;
    text-align: center;
    margin-bottom: 4%;
}

.write-us-div{
    margin: 0% 25%;
}

.write-us-div form button{
    margin: 2% 42%;
}

.reach-us-heading{
    color: grey;
    text-align: center;
    margin-top: 10%;
}

.reach-us-row{
    margin: 3% 10%;
}